

#nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container{
    padding-top: 100px;
    margin-top: 50px;
}

.navbar-brand, .btn{
    color: #4EB5A9;
}

.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}

.btn{
    font-size: 16px;
}

.icon-keranjang{
    margin: 0 50px;
}

.icon-profil{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.icon-profil h2{
        margin-right: 20px;
        margin-top: 5px;
        color: white;
        font-size: medium;
        text-align: center;
        justify-content: center;
}

.carousel-item img{
    height: 750px;
    width: auto;
}

.gambar-produk img{
    width: 100%;
    height: auto;
}

.btn-custom{
    width: 48%;
    margin: 1%;
    
    
}

